body 
{
margin-left: auto ; 
margin-right: auto ; 
width: 85% ;
background: #000000 ; 
color: #eeeeee;
}
div#header 
{ 
height: 200px ;
margin-top: 1% ; 
margin-left: 5% ; 
margin-right: 5% ;
}
div#menubar 
{ 
height: 30px ; 
margin-top: 1% ; 
font-size: 16px ; 
word-spacing : 10px; 
padding-left: 5% ; 
padding-right: 5% ; 
}
div#rightbar 
{ 
height: 1000px ; 

margin-top: 4.6% ;
font-size: 14px ;
float: right; 
width: 25% ; 
margin-left: 5% ;
margin-right: 5% ;
}
div#rightbar1 
{ 
height: 200px ;
}
div#center 
{ 
height:1000px ; 
width: 60% ; 
margin-top: 6% ;
font-size: 12px ; 
margin-left: 5% ; 
margin-right: 5% ;
}
div#footer 
{ 
height: 90px ; 
color: white; 
margin-top: 10px ; 
font-size: 10px ;
}
<!-- a {color: #eeeeee ;text-decoration: none }
a:hover { color: red; font-weight: bold; }
-->